@model List<QuestionnaireApp.Models.Survey>
@{
    ViewData["Title"] = "Home Page";
}


@if(User.Identity.IsAuthenticated)
{
    @foreach (var survey in Model)
    {
        <li>@survey.Title</li>
        <ul>
            @foreach (var question in survey.Questions)
            {
                <li>@question</li>
            }
        </ul>
    }
    <br />
    

    @foreach (var survey in Model)
    {
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-body p-md-5">
                            <div class="survey">
                                <h3>@survey.Title</h3>
                                <h6>@survey.Description</h6>
                                <form asp-controller="Survey" asp-action="Submit" method="post">
                                    <input type="hidden" name="SurveyId" value="" />
                                        @foreach (var question in survey.Questions)
                                        {
                                            <p>@question</p>
                                            <input type="text" class="form-control" />
                                        }
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary signInButton" style="border-radius: 10px;">Finish</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
                     
}else
{
    <h1>You have to login!</h1>
}

<!---->